*{
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header{
  height: 50px;
  width: 100%;
  background-color: #ffff;
  margin-top: 10px;
}

.logo{
  vertical-align: middle;
  margin-left: 20px;
}

.titolo{
  display: inline;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 5px;
}

body{
  background-color: #f6f8f9;
}

main{
  margin-top: 50px;
}
section{
  margin-bottom: 20px;
}
.container{
  width: 70%;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
  margin: 10px auto;
  background-color: white;
  box-sizing: border-box;
}

.bottone{
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.primob{
  background-color: #47adf1;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.secondob{
  background-color: #ffff;
  border: ridge;
  color: #cacfd3;
  font-weight: bold;
}

.t{
  font-weight: bold;
}

ul{
  list-style-type: none;
}

.circle{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
}

.green{
  border: 1px solid green;
  color: green;
}

.red{
  border: 1px solid red;
  color: red;
}

.testo{
  font-size: 25px;
  color: #50535c;
}



.descrizione{
  display: inline-block;
  text-align: center;
  padding: 5px;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid;
}

.editorial{
  background-color: #45abea;
}

.goals{
  background-color: #9c72e4;

}

.recruitting{
  background-color: #64c0a9;
}

.mobile{
  background-color: #f29e33;
}

.website{
  background-color: #d863a1;
}

.sales{
  background-color: #b0c926;
}